* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.one .mai {
    background-color: rgb(110, 110, 248);
    border-radius: 100%;
}

.two .mai {
    background-color: rgb(0, 209, 185);
    border-radius: 100%;
}

.three .mai {
    background-color: rgb(0, 209, 185);
    border-radius: 100%;
}

.main {
    display: flex;
    flex-direction: row;
}

.mai {
    height: 100px;
    width: 100px;
    text-align: center;
}