* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text {
    font-size: xx-large;
    align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  font-size: large;
}

.links div{
  margin: 10px;
}

button {
  padding: 5px 10px;
  border-radius: 10px;
  height: 40px;
  width: 200px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    max-width: 1000px;
}


.content h1 {
    margin-bottom: 20px;
}

.content p {
    margin-bottom: 20px;
    max-width: 500px;
}

.content button {
    background-color: #111;
    color: #fff;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
}


.img2 {
    max-width: 600px;
    width: 100%;
}

.sponsors {
    display: flex;
    justify-content: space-between;
}