* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #111;
  height: 100vh;
  display: flex;
}

.container {
  width: 90%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 200px 1fr 1fr;
  grid-template-rows: auto 200px 200px auto;
  gap: 15px;
  height: 90%;
}

.header {
  grid-column: 1 / 4;
  background-color: purple;
}

.sidebar {
  grid-row: 2 / 4;
  background-color: teal;
}

.content1 {
  grid-column: 2 / 4;
  background-color: royalblue;
}

.content2 {
  background-color: dodgerblue;
}

.content3 {
  background-color: deepskyblue;
}

.footer {
  grid-column: 1 / 4;
  background: purple;
}